@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

.App {
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    136deg,
    rgba(63, 248, 251, 1) 0%,
    rgba(63, 248, 251, 1) 50%,
    rgba(252, 70, 240, 1) 50%,
    rgba(252, 70, 240, 1) 100%
  );
}
